html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    color: #242424;
    line-height: 1.5;
    letter-spacing: normal;
    margin: 0px;
    -ms-overflow-style: scrollbar;
}

ul {
    margin: 0px;
}

a {
    text-decoration: none;
    border: 1px hidden inherit;
    padding: 4px;
    color: inherit;

    &:hover {
        border: 1px dashed blue;
        padding: 3px;
    }
}

header {
    background-color: #242424;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2000;
    display: inline-block;
    padding: 10px 10px;
    margin: 0px;
    width: 100%;
    box-shadow: 0px 2px 4px grey;

    nav {
        ul {
            height: 100%;
            float: left;
            display: inline-flex;
            vertical-align: central;
            list-style: none;

            &.profile {
                float: right;
            }

            li {
                margin: unset 2px unset 2px;

                &:not(:last-child) {
                    border-right: 1px solid;
                }

                a {
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    .title {
        height: 100%;
        float: left;
        display: inline-flex;
        vertical-align: central;

        img {
            margin-top: -3px;
            width: 24px;
            height: 24px;
        }
    }
}

main {
    margin: 10px;
}

footer {
    border-top: 1px solid #242424;

    ul {
        list-style: none;
        display: flex;
        vertical-align: middle;
        justify-content: center;

        li {
            float: left;
            padding: 0px 5px;
            margin: 5px 0px;

            &:not(:last-child) {
                border-right: 1px solid;
            }

            &.social {
                border-right: 0px;
            }
        }
    }
}

.social a {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid black;
    background: white;
    align-items: center;
    justify-content: center;
    transition: border-color 200ms;
    cursor: pointer;

    img {
        max-width: 20px;
    }

    &:hover {
        border: 1px solid blue;
    }
}

.overlay {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute; /* Sit on top of the page content */
        display: block; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
}

.socialMedia {
    float: right;
}

nav.breadcrumb ul {
    display: inline-flex;
    list-style: none;

    li::after {
        content: "/";
    }
}

nav.treelist ul {
    list-style-image: image();

    li {
        &.directory {
            list-style-image: url('/images/Folder.svg');
        }

        &.file {
            list-style-image: url('/images/file.svg');
        }
    }
}
/*.directory a::before {
    content: '';
    background-image: url('/images/Folder.svg');
    width: 20px;
    height: 20px;
    display: inline-block;
}

.file a::before {
    content: '';
    background-image: url('/images/File.svg');
    width: 20px;
    height: 20px;
    display: inline-block;
}*/


.btn {
    border: 0;
    cursor: pointer;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-image: linear-gradient( to top left, rgb(0 0 0 / 20%), rgb(0 0 0 / 20%) 30%, rgb(0 0 0 / 0%) );
    box-shadow: inset 2px 2px 3px rgb(255 255 255 / 60%), inset -2px -2px 3px rgb(0 0 0 / 60%);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &:active {
        box-shadow: inset -2px -2px 3px rgb(255 255 255 / 60%), inset 2px 2px 3px rgb(0 0 0 / 60%);
    }

    &.delete {
        background-color: rgb(220 0 0 / 100%);

        &:hover {
            background-color: rgb(255 0 0 / 100%);
        }
    }

    &.create {
        background-color: rgb(0 0 220 / 100%);

        &:hover {
            background-color: rgb(0 0 255 / 100%);
        }
    }

    &.search {
        background-color: rgb(0 0 0 / 100%);

        &:hover {
            background-color: rgb(0 0 0 / 100%);
        }
    }


    &[disabled] {
        background-color: gray !important;

        &:hover {
            background-color: gray !important;
        }
    }
}


dialog {
    opacity: 0;
    transform: scaleY(0);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out, overlay 0.7s ease-out allow-discrete, display 0.7s ease-out allow-discrete;

    &::backdrop {
        background-image: linear-gradient( 45deg, magenta, rebeccapurple, dodgerblue, green );
        opacity: 0.75;
        transition: display 0.7s allow-discrete, overlay 0.7s allow-discrete, background-color 0.7s;
    }

    span.close {
        float: right;
        right: -10px;
        top: -10px;
    }

    &[open] {
        opacity: 1;
        transform: scaleY(1);

        &::backdrop {
            background-color: rgb(0 0 0 / 25%);
        }
    }

    & > div {
        width: 100%;
    }
}

@starting-style {
    dialog[open] {
        opacity: 0;
        transform: scaleY(0);
    }

    dialog[open]::backdrop {
        background-color: rgb(0 0 0 / 0%);
    }
}

#searchDialog {
    form {
        float: left;
    }
}

span.close {
    display: inline-block;
    width: 22px;
    height: 22px;
    position: relative;
    transform: rotate(45deg);
    z-index: 10;

    .close_circle {
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: red;
        border-radius: 11px;
        left: 0;
        top: 0;
    }

    .close_stem,
    .close_stem2 {
        position: absolute;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .close_stem {
        width: 3px;
        height: 9px;
    }

    .close_stem2 {
        width: 9px;
        height: 3px;
    }
}

.clearfix {
    display: inline-block;
}

@import 'Toast.scss';
